.crudTable {
    @apply w-full 640px:min-w-[700px] overflow-auto;
    th {
        @apply text-start text-[16px] 1550px:text-[13px] 1280px:text-[13px] text-ThemeRed pb-1;
    }

    td {
        @apply pr-10 1550px:pr-8 1280px:pr-5 480px:pr-3 py-2 1366px:pr-5 1024px:pr-2 text-[16px] 1550px:text-[13px] 1280px:text-[13px];
        input[type="number"],
        input[type="text"],
        input[type="email"] {
            @apply w-full p-1 px-2 text-[12px] 1550px:min-w-[100px] h-10 1550px:h-8 820px:h-8 rounded-md outline-none shadow-md text-[#757575] font-NHU-bold;
        }
        input[type="checkbox"] {
            border: 1px solid rgb(216, 216, 216) !important;
            @apply relative h-4 w-4 mr-5 after:text-white rounded-md overflow-hidden shadow-md after:flex after:justify-center after:items-center checked:after:bg-ThemeRed checked:after:content-['✓'] appearance-none after:w-full after:h-full after:absolute after:left-0 after:top-0;
            &:checked {
                border: none !important;
            }
        }
        input.disabled {
            @apply bg-ThemeRed50 pointer-events-none;
        }
        input[type="number"] {
            @apply text-end;
        }
        p {
            @apply text-end w-full text-[#757575] font-NHU-bold text-[16px] 1550px:text-[13px] 1280px:text-[13px];
        }
        .peso {
            @apply relative flex items-center text-[#757575] font-NHU-bold;
            aside {
                @apply content-['₱'] absolute top-[0%] h-full flex items-center left-2 z-10;
            }
            input {
                @apply px-6;
            }
            p {
                @apply text-end w-full text-[#757575] font-NHU-bold;
            }
        }
        h2 {
            @apply text-[#757575];
        }
        .SelectModal {
            @apply bg-ThemeRed text-white text-center px-3 py-1 cursor-pointer rounded-md;
        }
    }

    td.action {
        @apply pr-0 pb-0 flex w-[100%] h-10 items-center max-w-[100px];
        div {
            @apply text-ThemeRed font-NHU-black cursor-pointer h-5 w-5 flex justify-center items-center;
        }
    }
}
