.crudTable {
    @apply w-full 640px:min-w-[700px] overflow-auto;
    th {
        @apply text-start text-[16px] min-w-[200px] 1550px:text-[13px] text-ThemeRed pb-1;
    }

    tr.total {
        .label {
            @apply text-end;
        }
        td {
            @apply pt-5 h-10;
            .peso {
                @apply w-full p-1 h-10 px-5 rounded-md outline-none relative text-end;
            }
        }
    }

    td {
        @apply pb-2 pr-10 1366px:pr-5 1024px:pr-2 820px:text-[13px];
        input {
            @apply w-full p-1 h-10 min-w-[200px] 820px:h-8 rounded-md outline-none shadow-md text-[#757575] font-NHU-bold;
        }
        input[type="number"] {
            @apply text-end;
        }
        .peso {
            @apply relative flex items-center text-[#757575] font-NHU-bold;
            aside {
                @apply content-['₱'] absolute top-[0%] h-full flex items-center left-2 z-10;
            }
            input {
                @apply px-6;
            }
            p {
                @apply text-end w-full text-[#757575] font-NHU-bold;
            }
        }
        h2 {
            @apply text-[#757575];
        }
        .SelectModal {
            @apply bg-ThemeRed text-white text-center px-3 py-1 cursor-pointer rounded-md;
        }
    }
    td.checkbox {
        @apply w-5;
        input[type="checkbox"] {
            border: 1px solid rgb(216, 216, 216) !important;
            @apply relative h-5 w-5 after:text-white after:flex after:justify-center after:items-center mr-1 checked:after:bg-ThemeRed checked:after:content-['✓'] appearance-none after:w-full after:h-full after:absolute after:left-0 after:top-0;
            &:checked {
                border: none !important;
            }
        }
    }
    td.action {
        @apply pr-0 pb-0 flex w-[100%] h-10 items-center max-w-[100px];
        div {
            @apply text-ThemeRed font-NHU-black cursor-pointer h-5 w-5 flex justify-center items-center;
        }
    }
}
