@font-face {
    font-family: "NHU-thin";
    src: url("./fonts/NeueHaasUnica-Thin.ttf");
}
@font-face {
    font-family: "NHU-regular";
    src: url("./fonts/NeueHaasUnica-Regular.ttf");
}
@font-face {
    font-family: "NHU-medium";
    src: url("./fonts/NeueHaasUnica-Medium.ttf");
}
@font-face {
    font-family: "NHU-bold";
    src: url("./fonts/NeueHaasUnica-Bold.ttf");
}
@font-face {
    font-family: "NHU-black";
    src: url("./fonts/NeueHaasUnica-Black.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "NHU-bold";
    @apply text-[#545454];
}
* {
    font-family: "NHU-regular";
}

// Page Loading
#nprogress .bar {
    background: #8f384d !important;
}
#nprogress .peg {
    box-shadow: 0 0 10px #8f384d, 0 0 5px #8f384d !important;
}
// button
.buttonRed {
    @apply capitalize px-5 480px:text-[12px] 480px:px-2 text-[14px] py-3 rounded-lg bg-ThemeRed text-white leading-none duration-75 hover:bg-ThemeRed50;
}
.button_cancel {
    @apply text-ThemeRed font-semibold text-[14px] mr-5;
}
// Text
.pageTitle {
    @apply text-[24px] 480px:text-[18px];
}
.label_text {
    @apply text-start text-gray-400 1024px:text-[14px] font-medium;
}
.main_text {
    @apply text-gray-500 mb-5 1024px:text-[14px];
    span {
        @apply text-gray-400 text-[12px];
    }
}
// Table
.table_container {
    @apply w-full overflow-x-auto mb-10 480px:mb-5 overflow-y-auto h-[600px] relative;

    @media (max-height: 1180px) {
        @apply h-[750px];
    }
    @media (max-height: 1080px) {
        @apply h-[600px];
    }
    @media (max-height: 1000px) {
        @apply h-[500px];
    }
    @media (max-height: 820px) {
        @apply h-[450px];
    }
    @media (max-height: 768px) {
        @apply h-[400px];
    }
    @media (max-width: 480px) {
        height: auto !important;
        max-height: 400px;
    }

    &::-webkit-scrollbar {
        height: 5px;
        width: 5px;
        &:hover {
            height: 10px;
        }
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        cursor: pointer !important;
        background-color: #c1546d;
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
}
.table_list {
    @apply min-w-full;
    thead {
        @apply shadow-md sticky top-0 bg-[#fbfbfb] z-10;
        tr {
            @apply border-b border-gray-300;
            th {
                @apply text-start px-4 py-5 480px:py-3 480px:px-3 text-[#545454] 480px:text-[12px];
            }
            .status {
                @apply text-center;
            }
        }
    }
    tbody {
        tr {
            @apply border-b border-gray-300 cursor-pointer relative;
            td {
                .edit {
                    @apply absolute z-0 w-full h-[60%] bg-[#7f7f7f5a] top-[20%] left-0 flex justify-center items-center;
                    aside {
                        @apply text-white flex items-center;
                    }
                }
                .item {
                    @apply flex items-center px-4 py-4 480px:py-2 480px:px-2;
                    aside {
                        @apply w-10 h-10 480px:w-8 480px:h-8 rounded-full overflow-hidden relative shadow-lg mr-3;
                    }
                    h2 {
                        @apply text-[#2E4364] font-NHU-medium 480px:text-[12px];
                    }
                    p {
                        @apply text-[#2E4364] font-NHU-medium 480px:text-[12px];
                    }
                }
            }
            td.normal {
                @apply min-w-[150px] 480px:min-w-[100px];
            }
            td.large {
                @apply min-w-[200px] 480px:min-w-[150px];
            }
            td.xLarge {
                @apply min-w-[500px] 480px:min-w-[350px];
            }
        }
    }
}
.table_list.corp,
.table_list.user {
    @apply 820px:w-[1000px];
}
// Active Status
.statusCircle {
    @apply h-5 w-5 rounded-full border-4 border-gray-500 cursor-pointer hover:scale-[1.3] transition duration-75;

    &.Active {
        @apply border-[#19d142];
        box-shadow: 0 0 15px 0 #19d142;
    }
    &.Inactive {
        @apply border-gray-500;
    }
    &.Draft {
        @apply border-[#f39304];
    }
}

input[type="checkbox"] {
    @apply relative after:text-white after:flex after:justify-center after:items-center mr-1 checked:after:bg-ThemeRed checked:after:content-['✓'] appearance-none border border-[#8F384D] after:w-full after:h-full after:absolute after:left-0 after:top-0;
}

.pageDetail {
    @apply h-full w-full flex justify-center items-center absolute top-0 left-0;
}
// Input number remove arrow default appearance
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* custom theme for tooltip */
.tippy-tooltip.ThemeRed-theme {
    background-color: #8f384d;
    color: white !important;
    p,
    span,
    div {
        color: white;
    }
}
.tippy-tooltip.ThemeRed-theme[data-placement^="top"] .tippy-arrow {
    border-top-color: #8f384d;
}
.tippy-tooltip.ThemeRed-theme[data-placement^="bottom"] .tippy-arrow {
    border-bottom-color: #8f384d;
}
.tippy-tooltip.ThemeRed-theme[data-placement^="left"] .tippy-arrow {
    border-left-color: #8f384d;
}
.tippy-tooltip.ThemeRed-theme[data-placement^="right"] .tippy-arrow {
    border-right-color: #8f384d;
}
.collapse {
    width: 65px !important;
}
.collapse_container {
    padding-left: 65px !important;
}
