@font-face {
    font-family: "NHU-thin";
    src: url("./fonts/NeueHaasUnica-Thin.ttf");
}
@font-face {
    font-family: "NHU-regular";
    src: url("./fonts/NeueHaasUnica-Regular.ttf");
}
@font-face {
    font-family: "NHU-medium";
    src: url("./fonts/NeueHaasUnica-Medium.ttf");
}
@font-face {
    font-family: "NHU-bold";
    src: url("./fonts/NeueHaasUnica-Bold.ttf");
}
@font-face {
    font-family: "NHU-black";
    src: url("./fonts/NeueHaasUnica-Black.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "NHU-bold";
    @apply text-[#545454];
}
input {
    @apply text-[#545454];
}
* {
    font-family: "NHU-regular";
}

.calendar {
    @apply relative;
    .cal {
        @apply absolute translate-y-[45%] top-0 right-[10px] bg-white pointer-events-none;
    }
    // input[type="date"]::-webkit-inner-spin-button,
    // input[type="date"]::-webkit-calendar-picker-indicator {
    //     color: white;
    // }
    input[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        color: transparent;
        background: transparent;
    }
}

// Page Loading
#nprogress .bar {
    background: #8f384d !important;
}
#nprogress .peg {
    box-shadow: 0 0 10px #8f384d, 0 0 5px #8f384d !important;
}
// button
.buttonRed {
    @apply capitalize px-5 480px:text-[12px] 480px:px-2 text-[14px] py-3 rounded-lg bg-ThemeRed text-white leading-none duration-75 hover:bg-ThemeRed50;
}
.button_cancel {
    @apply text-ThemeRed font-semibold text-[14px] mr-5;
}
// Text
.pageTitle {
    @apply text-[24px] 480px:text-[18px];
}
.label_text {
    @apply text-start text-gray-400 1024px:text-[14px] font-medium;
}
.main_text {
    @apply text-gray-500 mb-5 1024px:text-[14px];
    span {
        @apply text-gray-400 text-[12px];
    }
}

*::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    &:hover {
        height: 10px;
    }
}
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    cursor: pointer !important;
    background-color: #c1546d;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
// Table
.table_container {
    @apply w-full overflow-x-auto mb-10 480px:mb-5 overflow-y-auto h-[60vh] min-h-[600px] relative;
}
.table_list {
    @apply min-w-full;
    thead {
        @apply shadow-md sticky top-0 bg-[#fbfbfb] z-10;
        tr {
            th {
                @apply text-start px-4 py-5 480px:py-3 480px:px-3 text-[#545454] 480px:text-[12px];
            }
            .status {
                @apply text-center;
            }
            .center {
                @apply text-center;
            }
        }
    }
    tbody {
        tr {
            @apply border-b border-gray-300 cursor-pointer relative;
            td {
                @apply py-1;
                .item {
                    @apply flex items-center px-4 py-4 480px:py-2 480px:px-2;
                    aside {
                        @apply w-10 h-10 480px:w-8 480px:h-8 rounded-full overflow-hidden relative shadow-lg mr-3;
                    }
                    h2 {
                        @apply text-[#2E4364] font-NHU-medium  480px:text-[12px] pr-1 mr-1;
                        line-height: 70%;
                    }
                    p {
                        @apply text-[#2E4364] font-NHU-medium 480px:text-[12px];
                    }
                }
                .property {
                    @apply flex flex-wrap text-[#2e4364] px-4 py-4 480px:py-2 480px:px-2;
                    .property-container {
                        @apply flex w-full mb-3;
                        .half {
                            @apply w-2/4;
                            div {
                                h2 {
                                    @apply text-[#2E4364] font-NHU-medium  480px:text-[12px] pr-1 mr-1;
                                    line-height: 70%;
                                }
                                h2.unitCode {
                                    @apply w-10 text-center border-r-[1px] border-gray-400;
                                }
                                h2.unitCode:nth-last-child(1) {
                                    @apply border-none;
                                }
                            }
                        }
                    }
                    .property-container:nth-last-child(1) {
                        @apply mb-0;
                    }
                }
                .pencil {
                    @apply flex justify-center text-[20px] text-ThemeRed;
                }
            }
            td.normal {
                @apply min-w-[150px] 480px:min-w-[100px];
            }
            td.large {
                @apply min-w-[200px] 480px:min-w-[150px];
            }
            td.x2large {
                @apply min-w-[400px] 480px:min-w-[300px];
            }
            td.xLarge {
                @apply min-w-[500px] 480px:min-w-[350px];
            }
            // td.Draft {
            //     @apply bg-gray-200;
            //     .item {
            //         @apply py-1;
            //     }
            // }
        }
    }
}
.table_list.corp,
.table_list.user {
    @apply 1024px:w-[1000px];
}
// Active Status
.statusCircle {
    @apply h-5 w-5 rounded-full border-4 border-gray-500 cursor-pointer hover:scale-[1.3] transition duration-75;

    &.Active,
    &.active {
        @apply border-[#19d142];
        box-shadow: 0 0 15px 0 #19d142;
    }
    &.Inactive,
    &.inactive {
        @apply border-gray-500;
    }
    &.Draft,
    &.draft {
        @apply border-[#f39304];
    }
}

input[type="checkbox"] {
    border: 1px solid rgb(216, 216, 216) !important;
    &:checked {
        border: none !important;
    }
    @apply relative after:text-white after:flex after:justify-center after:items-center mr-1 checked:after:bg-ThemeRed checked:after:content-['✓'] appearance-none after:w-full after:h-full after:absolute after:left-0 after:top-0;
}

.pageDetail {
    @apply h-full w-full flex justify-center items-center absolute top-0 left-0;
}
// Input number remove arrow default appearance
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* custom theme for tooltip */
.tippy-tooltip.ThemeRed-theme {
    background-color: #8f384d;
    color: white !important;
    p,
    span,
    div {
        color: white;
    }
}
.tippy-tooltip.ThemeWhite-theme {
    background-color: #fff !important;
    max-width: 450px !important;
    .tippy-content {
        padding: 0 !important;
    }
}
.tippy-tooltip.ThemeRed-theme[data-placement^="top"] .tippy-arrow {
    border-top-color: #8f384d;
}
.tippy-tooltip.ThemeRed-theme[data-placement^="bottom"] .tippy-arrow {
    border-bottom-color: #8f384d;
}
.tippy-tooltip.ThemeRed-theme[data-placement^="left"] .tippy-arrow {
    border-left-color: #8f384d;
}
.tippy-tooltip.ThemeRed-theme[data-placement^="right"] .tippy-arrow {
    border-right-color: #8f384d;
}

.tippy-tooltip.ThemeWhite-theme[data-placement^="top"] .tippy-arrow {
    border-top-color: #fff;
}
.tippy-tooltip.ThemeWhite-theme[data-placement^="bottom"] .tippy-arrow {
    border-bottom-color: #fff;
}
.tippy-tooltip.ThemeWhite-theme[data-placement^="left"] .tippy-arrow {
    border-left-color: #fff;
}
.tippy-tooltip.ThemeWhite-theme[data-placement^="right"] .tippy-arrow {
    border-right-color: #fff;
}
.collapse {
    width: 65px !important;
}
.collapse_container {
    padding-left: 65px !important;
}
// Sidebar and Layout spacing
.w-no-wide {
    @apply w-[258px] 1550px:w-[220px];
}
.w-wide {
    @apply w-[350px] 1550px:w-[220px];
}
.pl-wide {
    @apply pl-[350px] 1550px:pl-[220px] 1024px:pl-0;
}
.pl-no-wide {
    @apply pl-[258px] 1550px:pl-[220px] 1024px:pl-0;
}

.crud-container {
    @apply overflow-y-auto max-h-[300px] p-2 pt-0 relative;
}
.crud-table {
    @apply w-[300px] static mt-2;
    thead {
        @apply sticky top-0 z-50;
    }
    th {
        @apply bg-ThemeRed px-3 py-2 text-[10px] font-NHU-regular font-light border border-gray-300;
    }
    td {
        @apply border border-gray-300 px-2 py-1;
        input {
            @apply border border-gray-500 text-[12px] z-10 hover:text-white bg-transparent;
        }
        input.disabled {
            @apply border-none pointer-events-none;
        }
        p {
            @apply text-[#545454];
        }
        .dropdown {
            @apply relative;
            ul {
                @apply absolute top-full left-0 w-full text-ThemeRed z-10 bg-white border;
                li {
                    @apply text-[12px] border-b py-1 px-2 w-full mb-0 hover:bg-ThemeRed hover:text-white transition-all duration-75;
                }
            }
        }
    }
    tr:hover > .bg-hover {
        @apply bg-ThemeRed50;
        * {
            @apply text-white;
        }
        .dropdown {
            ul {
                li {
                    @apply text-ThemeRed hover:text-white;
                }
            }
        }
    }
    tr.active > .bg-hover {
        @apply bg-ThemeRed;
        * {
            @apply text-white;
        }
        .dropdown {
            ul {
                li {
                    @apply text-ThemeRed hover:text-white;
                }
            }
        }
    }
    td.action {
        div {
            @apply h-full flex justify-center items-center;
            .icon {
                @apply text-gray-500 cursor-pointer text-[16px] transition-all duration-75 hover:text-black hover:scale-[1.2];
            }
            .icon:nth-child(1) {
                @apply mr-2;
            }
        }
    }
}
.crud-table.wide {
    @apply w-[400px];
}
// Save Drop Down Button
.DropDownSave {
    @apply w-full flex justify-end mt-14 480px:mt-10;
    .ddback {
        @apply text-ThemeRed font-semibold text-[14px] h-8 mr-5 cursor-pointer flex items-center;
    }
    .ddSave {
        @apply cursor-pointer relative text-white h-auto duration-75 overflow-hidden rounded-md text-[14px];
        div {
            @apply w-[100px] flex;
            .ddsave_button {
                @apply w-[70%] bg-ThemeRed hover:bg-ThemeRed50  text-white flex items-center justify-center h-8;
            }
            .ddArrow {
                @apply w-[30%] text-[24px] hover:bg-ThemeRed50 cursor-pointer  bg-ThemeRed text-white border-l h-8 border-white flex justify-center items-center;
            }
        }
        ul {
            @apply static top-full left-0 bg-white w-full z-50;
            li {
                button {
                    @apply cursor-pointer text-ThemeRed inline-block text-[12px] py-2 w-full text-center hover:bg-ThemeRed hover:text-white duration-75;
                }
                .disabled {
                    @apply pointer-events-none bg-ThemeRed text-white;
                }
            }
        }
    }
}
